@import 'tailwindcss';

:root {
  --gutter: 32px;
  --content-max-width: 1500px;
  --transition: all 0.3s ease;
  --font-family: 'Roboto Mono', monospace;
  --alt-font-family: 'Popins', sans-serif;
}

body {
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 3.5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}
