:root {
  --bg-color: #011926;
  --main-color: #00e980;
  --caret-color: #00e980;
  --sub-color: #245c69;
  --sub-alt-color: #000c13;
  --text-color: #fff;
  --error-color: #b94da1;
  --error-extra-color: #9b3a76;
  --colorful-error-color: #b94da1;
  --colorful-error-extra-color: #9b3a76;
}

@keyframes aurora {
  0% {
    color: #009fb4;
  }

  25% {
    color: #00e975;
  }

  50% {
    color: #00ffea;
  }

  75% {
    color: #00e975;
  }

  100% {
    color: #009fb4;
  }
}

@keyframes aurora-fill {
  0% {
    fill: #009fb4;
  }

  25% {
    fill: #00e975;
  }

  50% {
    fill: #00ffea;
  }

  75% {
    fill: #00e975;
  }

  100% {
    fill: #009fb4;
  }
}

@keyframes aurora-bg {
  0% {
    background: #009fb4;
  }

  25% {
    background: #00e975;
  }

  50% {
    background: #00ffea;
  }

  75% {
    background: #00e975;
  }

  100% {
    background: #009fb4;
  }
}

header .config .group .buttons .textButton.active,
#result .stats .group .bottom,
nav .textButton:hover,
header .config .group .buttons .textButton:hover,
a:hover,
#words.flipped .word {
  animation: aurora 5s linear infinite;
}

.tooltip {
  animation: aurora-bg 5s linear infinite;
}

#logo .bg {
  animation: aurora-fill 5s linear infinite;
}
